<div class="main-w3layouts wrapper" style="height : 95vh">
 {{> header}}
 <h1>Home</h1>
 <ul class="colorlib-bubbles">
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 </ul>
 {{> footer}}
 </div>
